@font-face { font-family: Barlow; src: url("../Font/BarlowSemiCondensed-BoldItalic.ttf"); } 
  
@font-face { font-family: Lib; src: url("../Font/LiberationSerif-Regular.ttf"); } 

@font-face { font-family: happy; src: url("../Font/happy-times-at-the-ikob.ttf"); } 

h1 {
    font-family: Barlow;
    margin-left: 38%;
 }

h2 {
    font-family: happy;
 }

h3{
    font-family: happy ;
  }

p{
  text-align: justify;
}

p.nom{
  text-align: center;
}


body{
    margin: 0;
    padding: 0;
}   

.Contenu {
  height: 100%;
  width: 50%;
  margin: auto;
}





/*Menu horizontal*/


#nav {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
}

#nav li {
	display: inline;
	list-style: none;
}

#nav a {
	display:inline-block;
	margin: 0%;
}

header{
    margin: auto;
    /*position: fixed;*/
    width: 100%;
    z-index: 1;
    top: 0;
}


.active{
    background-color: darkseagreen;
}

.activeBurger{
  font-weight: bold;
}

.un{
    flex-basis: auto;
    margin: 0%;
    padding: 10px;
}

.ti{
    flex-basis: 100%;
    align-self: center;
    margin: 0%;
}

.box{
    display: flex;
    justify-content: space-between; 
    margin: 0%;
    background-color:#ffffd4;
}

html{
    background-color: #a9d7a8;
}

li a{
    padding: 1% 2%;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

ul{
    background-color: #ffffd4;
}



/*Menu burger*/


#wrap {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    display: flex;
    color:    #000000;
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
     font-family: Lib
  }
  
  #wrap:not(:target) {
    transform: translate3d(-340px, 0, 0);
  }
  
  #wrap:target {
    transform: translate3d(0, 0, 0);
  }
  
  #open,
  #close {
    height: 35px;
    text-align: right;
    display: block;
    margin-right: -30px;
  }
  
  #wrap:target #open,
  #wrap:not(:target) #close {
    display: none;
  }
  
  #wrap:target #open {
    display: none;
  }
  
  .Lateral a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .burger {
    background: transparent;
    width: 360px;
    padding: 0 20px;
    display:inline-block;
    vertical-align:top;
  }
  
  .Lateral {
    padding: 25px;
  }
  
  .main {
    padding: 25px;
    flex: 10;
    display:inline-block;
  }


  .lien {
    border: 0cm;
    text-decoration: none;
  }

  .lienn{
    text-decoration: underline;
    color: blue;
    border: 0cm;
  }

  /*Haut de page*/

  .le_bouton {
    position: fixed;
    bottom : 60px;
    right: 60px;
    opacity: 0.8;
    }

  

  /*Responsive*/

@media screen and (max-width: 992px){
  
  .insta {
    align-items: center;
    width: 150%;
  }
  h4.titre,h2,h3{
    font-size: 60px;
  }
  p, p.prRr{
    font-size: 40px;
  }

  p.vous, p.produit{
    font-size: 45px;
  }


  .imgimg{
      float: left;
      padding: 5px;
  }
  button.accordion{
    font-size: 45px;
    width: 150%;
  }
  .panel{
    width: 142%;
    padding-left: 20px;
    padding-right: 20px;
  }
  label,legend,li{
    font-size: 40px;
  }
  .logo{
    width: 30%;
  }
 
  .fonda{
    display: block;
    width: 150%;
    margin-bottom: 75px;
    margin-top: 75px;
  }
 
  .ti {
    font-size: 50px;
    text-align: center;
  }
  h1{
    margin-left: 0%;
  }
  .prod{
    width: 100%;

  }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media  screen and (min-width: 992px) and (max-width: 1200px){
  

}





