.Contenu {
    height: 100%;
    width: 60%;
    margin: auto;
}

img.photo {
    opacity: 1;
}

img.photo:hover {
    opacity: 0.7;
}

.fondateurs{
    vertical-align: top;
    display: inline-block;
  }
  
  .fonda{
    text-align: center;
    display: inline-block;
    width: 30%;
  }

  