
@font-face {
    font-family: Barlow;
    src: url(font/BarlowSemiCondensed-BoldItalic.ttf);
}

@font-face {
    font-family: Happy;
    src: url(font/happy-times-at-the-ikob.ttf);
}

h1{
    margin-left: 38%;
    font-family: Barlow;
}

h3{
    font-family: Happy;
    padding-right: 2%;
    padding-left: 2%;
}

p{
    padding-right: 2%;
    padding-left: 2%;
}

.xob{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
}

body{
    margin: 0;
    padding: 0;
}   

li a{
    padding: 1% 2%;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

ul{
    background-color: #ffffd4;
}

#nav {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
}

#nav li {
	display: inline;
	list-style: none;
}

#nav a {
	display:inline-block;
	margin: 0%;
}

header{
    margin: auto;
}


.active{
    background-color: darkseagreen;
}


.un{
    flex-basis: auto;
    margin: 0%;
}

.ti{
    flex-basis: 100%;
    align-self: center;
    margin: 0%;
}


.box{
    display: flex;
    justify-content: space-between; 
    margin: 0%;
    background-color:#ffffd4;
}

html{
    background-image: url(/home/thomas/Bureau/SiteWeb/image/Fond.jpg);
}